In [ ]:
#-----------------------------------------------------------------------
# ruler.py
#-----------------------------------------------------------------------

# Write to standard output the relative lengths of the subdivisions on
# a ruler. The nth line of output is the relative lengths of the marks
# on a ruler subdivided in intervals of 1/2^n of an inch.  For example,
# the fourth line of output gives the relative lengths of the marks
# that indicate intervals of one-sixteenth of an inch on a ruler.

ruler1 = '1'
ruler2 = ruler1 + ' 2 ' + ruler1
ruler3 = ruler2 + ' 3 ' + ruler2
ruler4 = ruler3 + ' 4 ' + ruler3
print(ruler1)
print(ruler2)
print(ruler3)
print(ruler4)
ruler4 = '4'
print(ruler4)

#-----------------------------------------------------------------------

# python ruler.py
# 1
# 1 2 1
# 1 2 1 3 1 2 1
# 1 2 1 3 1 2 1 4 1 2 1 3 1 2 1

1
1 2 1
1 2 1 3 1 2 1
1 2 1 3 1 2 1 4 1 2 1 3 1 2 1
4

In [ ]:
#-----------------------------------------------------------------------
# intops.py
#-----------------------------------------------------------------------

import sys

# Accept int command-line arguments a and b. Use them to illustrate
# integer operators. Write the results to standard output.

# NOTA (JSP): ao usar Jupyter Notebooks não é adequado ler argumentos 
# da linha de comandos
# a = int(sys.argv[1])
# b = int(sys.argv[2])

a = 108
b = 42

total = a +  b
diff  = a -  b
prod  = a *  b

quot  = a // b
quot2  = a / b
# In Python 3.x, / does true division and // does floor division
# It's wise to use // to divide integers, and / to divide floats.

rem   = a %  b
exp   = a ** b

print(str(a) + ' +  ' + str(b) + ' = ' + str(total))
print(str(a) + ' -  ' + str(b) + ' = ' + str(diff))
print(str(a) + ' *  ' + str(b) + ' = ' + str(prod))
print(str(a) + ' // ' + str(b) + ' = ' + str(quot))
print(str(a) + ' / ' + str(b) + ' = ' + str(quot2))
print(str(a) + ' %  ' + str(b) + ' = ' + str(rem))
print(str(a) + ' ** ' + str(b) + ' = ' + str(exp))

#-----------------------------------------------------------------------

# python intops.py 1234 5
# 1234 +  5 = 1239
# 1234 -  5 = 1229
# 1234 *  5 = 6170
# 1234 // 5 = 246
# 1234 %  5 = 4
# 1234 ** 5 = 2861381721051424

108 +  42 = 150
108 -  42 = 66
108 *  42 = 4536
108 // 42 = 2
108 / 42 = 2.5714285714285716
108 %  42 = 24
108 ** 42 = 25339481873867337324763445771714308880104419331864166059983313204911204260262879166464

In [ ]:
#-----------------------------------------------------------------------
# floatops.py
#-----------------------------------------------------------------------

import sys

# Accept two floats a and b as command-line arguments. Use them
# to illustrate float operators. Write the results to standard output.

# NOTA (JSP): ao usar Jupyter Notebooks não é adequado ler argumentos 
# da linha de comandos
# a = int(sys.argv[1])
# b = int(sys.argv[2])

a = float(108)
b = 42.0


total = a + b
diff  = a - b
prod  = a * b
quot  = a / b
exp   = a ** b

print(str(a) + ' +  ' + str(b) + ' = ' + str(total))
print(str(a) + ' -  ' + str(b) + ' = ' + str(diff))
print(str(a) + ' *  ' + str(b) + ' = ' + str(prod))
print(str(a) + ' /  ' + str(b) + ' = ' + str(quot))
print(str(a) + ' ** ' + str(b) + ' = ' + str(exp))

#-----------------------------------------------------------------------

# python floatops.py 123.456 78.9
# 123.456 +  78.9 = 202.356
# 123.456 -  78.9 = 44.556
# 123.456 *  78.9 = 9740.6784
# 123.456 /  78.9 = 1.5647148289
# 123.456 ** 78.9 = 1.04788279167e+165

108.0 +  42.0 = 150.0
108.0 -  42.0 = 66.0
108.0 *  42.0 = 4536.0
108.0 /  42.0 = 2.5714285714285716
108.0 ** 42.0 = 2.533948187386734e+85

In [ ]:
#-----------------------------------------------------------------------
# quadratic.py
#-----------------------------------------------------------------------

import sys
import math

# Accept floats b and c as command-line arguments. Compute 
# the roots of the polynomial x^2 + bx + c using the quadratic
# formula. Write the roots to standard output.

# b = float(sys.argv[1])
# c = float(sys.argv[2])

b = float(-3)
c = float(2)

discriminant = b*b - 4.0*c
d = math.sqrt(discriminant)

print((-b + d) / 2.0)
print((-b - d) / 2.0)

#-----------------------------------------------------------------------

# quadratic.py -3.0 2.0
# 2.0
# 1.0

# quadratic.py -1.0 -1.0
# 1.618033988749895
# -0.6180339887498949

# quadratic.py 1.0 1.0
# Traceback (most recent call last):
#   File "quadratic.py", line 17, in <module>
#     d = math.sqrt(discriminant)
# ValueError: math domain error

2.0
1.0

In [ ]:
#-----------------------------------------------------------------------
# leapyear.py
#-----------------------------------------------------------------------

import sys

# Accept an int year as a command-line argument. Write True to
# standard output if year is a leap year.  Otherwise write False.

# year = int(sys.argv[1])

year = 2021

isLeapYear = (year % 4 == 0)
isLeapYear = isLeapYear and (year % 100 != 0)
isLeapYear = isLeapYear or  (year % 400 == 0)

isLeapYear2 = ((year % 4 == 0) and (year % 100 != 0)) or  (year % 400 == 0)

print(isLeapYear)
print(isLeapYear2)


#-----------------------------------------------------------------------

# python leapyear.py 2016    
# True

# python leapyear.py 1900 
# False

# python leapyear.py 2000
# True

False
False

## Atenção!
Programar com número de vírgula flutuante requer ter  presente que se trata sempre de aproximações. Deve evitar-se por exemplo fazer testes de igualdade exacta.

In [ ]:
print(0.1 + 0.1)
print(0.1 + 0.1 + 0.1)
print(0.1+0.1+0.1 == 0.3)
print(abs(0.1+0.1+0.1 - 0.3) == 0.0)
print(abs(0.1+0.1+0.1 - 0.3) < 0.00000001)
print(5*0.3 == 1.5)
print(0.6 - 0.1 - 0.1 - 0.1)

0.2
0.30000000000000004
False
False
True
True
0.30000000000000004

In [ ]:
print(round(2.4))
print(round(3.6))

print(round(2.5))
print(round(15.5))

2
4
2
16

O operador de arredondamento produz o número **par* mais próximo!

In [ ]:
print (10/0)

ZeroDivisionError: ignored

In [ ]:
a = False
b = True
(not (a and b) and (a or b)) or ((a and b) or not (a or b))

True

In [ ]:
#-----------------------------------------------------------------------
# sumoftwodice.py
#-----------------------------------------------------------------------

import random

# Roll two six-sided dice, and write the resulting sum to standard
# output.

SIDES = 6

a = random.randrange(1, SIDES+1)
b = random.randrange(1, SIDES+1)

total = a + b

print(total)

#-----------------------------------------------------------------------

# python sumoftwodice.py
# 5

# python sumoftwodice.py
# 7

# python sumoftwodice.py
# 10

# python sumoftwodice.py
# 7

12

In [ ]:
#-----------------------------------------------------------------------
# spring.py
#-----------------------------------------------------------------------

import sys

# Accept integers month and day as command-line arguments. Write True
# to standard output if the date month/day is a spring month.

# month = int(sys.argv[1])
# day =   int(sys.argv[2])

month = 6
day = 20

isSpring = (month == 3 and day >= 20 and day <= 31) or \
           (month == 4 and day >=  1 and day <= 30) or \
           (month == 5 and day >=  1 and day <= 31) or \
           (month == 6 and day >=  1 and day <= 20)

print(isSpring)

#-----------------------------------------------------------------------

# python spring.py 1 1 
# False

# python spring.py 3 19
# False

# python spring.py 3 20
# True

# python spring.py 6 20
# True

# python spring.py 6 21
# False

# python spring.py 12 31
# False

True

In [ ]:
#-----------------------------------------------------------------------
# threesort.py
#-----------------------------------------------------------------------

import sys

# Accept three integers from the command-line, and write them to
# standard output in ascending order.

a = 20
b = 10
c = 30

# Compute stats.
minimum = min(a, b, c)
maximum = max(a, b, c)
median = a + b + c - minimum - maximum;

# Write stats.
print(minimum)
print(median)
print(maximum)

#-----------------------------------------------------------------------

# python threesort.py 18 25 74
# 18
# 25
# 74

# python threesort.py 74 18 25
# 18
# 25
# 74

10
20
30

In [ ]:
n = 4
print ('a'*n+'b'*n)

aaaabbbb